{% extends 'base.html' %}

{% block content %}
<h3 class="text-center"> Welcome to NEA Billing System</h3>
<div class="col-7 container">
<form class="mt-2">
    <div class="mb-3 mt-2">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="">
    </div>


    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlTextarea1" value="">
    </div>`

    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
